::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
	background-color: #fff;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 170px;
	margin-left: 100px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

h2 {
	color: #444;
	border-bottom: 1px solid #D0D0D0;
	font-size: 17px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

div {
	margin: 6px 6px 6px 6px;
}

p {
	margin: 0 6px 0 6px;
}

#bordered {
	margin: 10px;
	padding: 0px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border-bottom: 1px solid #dddddd;
	font-size: 17px;
	text-align: left;
	padding: 8px;
}

td.elem:hover {background-color: #ddd;}

.sbutton {
	background-color: white;
	color: black;
	padding: 5px 5px;
	text-align: middle;
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.bbutton {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input:not([type]), [type="text"], [type="email"], [type="number"], [type="search"],
[type="password"], [type="url"], [type="tel"], [type="checkbox"], [type="radio"], textarea, select {
  width: 85%;
}

